@import '../../Variables/Variables.scss';
*{
    padding: 0%;
    margin: 0%;
}
.pl{
    // @media only screen and (max-width: 600px){
    //     font-size: 2em;
    // }
    padding: 50px 100px;
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    @media screen and (max-width:600px)
    {
        padding: 20px;
        margin-top: 450px;
    }
    .pl-texts{
        width: 65%;
        .p-title{
            font-size: 50px;
            font-weight: 600;
        }
        .p-desc{ 
            margin: 20px 0;
        }
    }
    .pl-list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}