@import '../../Variables/Variables.scss';
*{
    padding: 0;
    margin: 0;
}
.i{
    display: flex;
    // width: 100vw;
    height: 100vh;
    @media screen and (max-width:600px){
        flex-direction: column;
        
    }
    
    .i-left{
        flex: 1;
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100vh;
        .i-left-wrapper{
            padding: 50px;
            height: 50%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media screen and (max-width:600px){
                padding: 0px 20px 20px 20px;
                align-items: center;
                text-align: center;
                height: 70%;
                
            }
            .i-intro{
                font-size: 30px;
                font-weight: 300;
            }
            .i-name{
                font-size: 60px;
            }
            .i-title{
                height: 50px;
                overflow: hidden;
                @media screen and (max-width:600px){
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                .i-title-wraper{
                    height: 100%;
                    animation: move 10s ease-in-out infinite alternate;

                    .i-title-item{
                        height: 50px;
                        font-size: 30px;
                        font-weight: bold;
                        color: $green;
                        display: flex;
                        align-items: center;
                    }
                    @keyframes move {
                        25%{
                            transform: translateY(-50px);
                        }
                        50%{
                            transform: translateY(-100px);
                        }
                        75%{
                            transform: translateY(-150px);
                        }
                        100%{
                            transform: translateY(-200px);
                        }
                    }
                }
            }
        }
        .i-scroll{
            height: 30px;
            width: 30px;
            position: absolute;
            bottom: 20px;
            
        }
    }
    .i-right{
        flex: 1;
        position: relative;
        .i-bg{
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            height: 100%;
            width: 100%;
            background-color: $green;
            position: absolute;
            top: 0;
            right: 0;
        }
        .i-img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            @media screen and (max-width:600px){
                width: auto;
            }
        }
    }
}
